<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="databaseType" value="access no"/>
    <add key="connectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Example\GoodsStock\GoodsStock\bin\Debug\Database.mdb;Persist Security Info=True"/>
  </appSettings>
  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=127.0.0.1;port=3306;Initial Catalog=goods_stock;user id=root;password=root;Charset=utf8"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
